<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="TcpEndPoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:6790/" binding="netTcpBinding"
                bindingConfiguration="TcpEndPoint" contract="ServiceReference2.IService"
                name="TcpEndPoint">
                <identity>
                    <userPrincipalName value="DESKTOP-SDO7QCB\Gagandeep Kaur" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>